<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.carpark.dao.AdminDao">
<!--    管理员登陆验证-->
    <select id="adminLogin" parameterType="java.util.Map" resultType="TbAdmin">
        select * from tb_admin where admin_account = #{adminAccount} and admin_pwd = #{adminPwd}
    </select>

<!--    查询所有父菜单-->
    <select id="findParentMenu" resultType="TbMenu" parameterType="java.lang.Integer">
        select * from tb_menu where parent_id = #{parentId}
    </select>

<!--    根据父id和角色id查询子菜单-->
    <select id="findMenu" resultMap="submenuMap" parameterType="java.util.Map">
         select b.menu_id,b.menu_name,b.menu_url,b.parent_id,a.state from tb_menu b join tb_role_menu a on a.menu_id = b.menu_id and a.role_id = #{roleId} and b.parent_id = #{parentId}
    </select>

<!--    查询子菜单返回类型映射-->
    <resultMap id="submenuMap" type="TbMenu">
        <id column="MENU_ID" property="menuId"/>
        <result column="MENU_NAME" property="menuName"/>
        <result column="MENU_URL" property="menuUrl"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="STATE" property="state"/>
    </resultMap>

    <!-- 林堂星——用户管理 查找  -->
    <select id="findAll" resultType="com.example.carpark.javabean.TbCashier" >
        select  * from tb_cashier
        <where>
            <if test="cashierName != '' and cashierName !=null">
                and cashier_name = #{cashierName}
            </if>
            <if test="startTime != '' and startTime !=null and endTime != '' and endTime !=null">
                and cashier_time BETWEEN  #{startTime}  and  #{endTime}
            </if>
        </where>
        ORDER BY cashier_id desc limit #{currentPage},#{pageSize}
    </select>
    <!-- 用户管理 查找条数  -->
    <select id="findCount" resultType="int" >
        select  count(*) from tb_cashier
        <where>
            <if test="cashierName != '' and cashierName !=null">
                and cashier_name = #{cashierName}
            </if>
            <if test="startTime != '' and startTime !=null and endTime != '' and endTime !=null">
                and cashier_time BETWEEN  #{startTime}  and  #{endTime}
            </if>
        </where>
    </select>
    <!--  状态禁用  -->
    <update id="forbiddenState" parameterType="java.util.Map">
			update tb_cashier
			set  cashier_state = '0'
			where cashier_id = #{cashierId}
	</update>
    <!--  状态启用  -->
    <update id="openState" parameterType="java.util.Map">
			update tb_cashier
			set  cashier_state = '1'
			where cashier_id = #{cashierId}
	</update>
    <!--  状态离职  -->
    <update id="resignState" parameterType="java.util.Map">
			update tb_cashier
			set  cashier_state = '2'
			where cashier_id = #{cashierId}
	</update>
    <!-- 新增收费员  -->
    <insert id="addCashier"  parameterType="java.util.Map" >
		insert into tb_cashier(
					 cashier_account
					,cashier_pwd
					,cashier_name
					,cashier_state
					,cashier_phone
					,cashier_sex
					,cashier_address
					,cashier_time
				)values(
					 #{cashierAccount}
					,#{cashierPwd}
					,#{cashierName}
					,#{cashierState}
					,#{cashierPhone}
					,#{cashierSex}
					,#{cashierAddress}
					,CURDATE()
				)
	</insert>
</mapper>