<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.carpark.dao.AdminDao">
<!--    管理员登陆验证-->
    <select id="adminLogin" parameterType="java.util.Map" resultType="TbAdmin">
        select * from tb_admin where admin_account = #{adminAccount} and admin_pwd = #{adminPwd}
    </select>

<!--    根据parentId查询菜单-->
    <select id="findParentMenu" resultType="TbMenu" parameterType="java.lang.Integer">
        select * from tb_menu where parent_id = #{parentId}
    </select>

<!--    根据父id和角色id查询子菜单-->
    <select id="findMenu" resultMap="submenuMap" parameterType="java.util.Map">
         select b.menu_id,b.menu_name,b.menu_url,b.parent_id,a.state from tb_menu b join tb_role_menu a on a.menu_id = b.menu_id and a.role_id = #{roleId} and b.parent_id = #{parentId}
    </select>

<!--    查询子菜单返回类型映射-->
    <resultMap id="submenuMap" type="TbMenu">
        <id column="MENU_ID" property="menuId"/>
        <result column="MENU_NAME" property="menuName"/>
        <result column="MENU_URL" property="menuUrl"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="STATE" property="state"/>
    </resultMap>

<!--    分页查询菜单列表-->
    <select id="findMenuByPage" resultType="TbMenu" parameterType="java.util.Map">
        select * from tb_menu
        <where>
            <if test="menuName != null and menuName != ''">
                and menu_name like concat('%',#{menuName},'%')
            </if>
        </where>
        limit #{page},#{limit}
    </select>

<!--    查询菜单总数-->
    <select id="findMenuCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from tb_menu
        <where>
            <if test="menuName != null and menuName != ''">
                and menu_name like concat('%',#{menuName},'%')
            </if>
        </where>
    </select>

    <insert id="addMenu" parameterType="TbMenu">
        insert into tb_menu (menu_name,menu_url,parent_id) values (#{menuName},#{menuUrl},#{parentId});
    </insert>

    <update id="updateMenu" parameterType="TbMenu">
        update tb_menu
        <set>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName}
            </if>
            <if test="menuUrl != null and menuUrl != ''">
                menu_url = #{menuUrl}
            </if>
        </set>
        where menu_id = #{menuId}
    </update>

    <select id="findMenuByName" parameterType="java.lang.String" resultType="TbMenu">
        select * from tb_menu where menu_name = #{menuName}
    </select>

    <select id="findMenuByUrl" parameterType="java.lang.String" resultType="TbMenu">
        select * from tb_menu where menu_url = #{menuUrl}
    </select>

<!--    更新菜单父级菜单-->
    <update id="updateMenuParentId" parameterType="java.util.Map">
        update tb_menu set parent_id = #{parentId} where menu_id = #{menuId}
    </update>
<!--    查询所有角色-->
    <select id="findAllRole" resultType="TbRole">
        select * from tb_role
    </select>

<!--    添加角色菜单关系表-->
    <insert id="addRoleMenu" parameterType="java.util.Map">
        insert into tb_role_menu (role_id,menu_id,state) values (#{roleId},#{menuId},#{state})
    </insert>

<!--    查询最新更新菜单-->
    <select id="findMenuMaxId" resultType="java.lang.Integer" >
        SELECT MAX(menu_id) from tb_menu
    </select>

<!--    删除父级菜单-->
    <delete id="deleteMenu" parameterType="java.lang.Integer">
        delete from tb_menu where menu_id = #{menuId}
    </delete>

<!--    删除父级菜单下的子菜单-->
    <delete id="deleteSubmenu" parameterType="java.lang.Integer">
        delete from tb_menu where parent_id = #{parentId}
    </delete>

<!--    删除菜单和角色的关联表-->
    <delete id="deleteRoleMenu" parameterType="TbRoleMenu">
        delete from tb_role_menu
        <where>
            <if test="menuId != null and menuId != '' and menuId != 0">
                and menu_id = #{menuId}
            </if>
            <if test="roleId != null and roleId != '' and roleId != 0">
                and role_id = #{roleId}
            </if>
        </where>
    </delete>
</mapper>