<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.carpark.dao.ChargeDao">
    <select id="chargeLogin" parameterType="java.util.Map" resultType="TbCashier">
        select * from tb_cashier where cashier_account = #{cashier_account} and cashier_pwd = #{cashier_pwd}
    </select>
</mapper>