<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.carpark.dao.ChargeDao">

    <!--    收费员登录-->
    <select id="chargeLogin" parameterType="java.util.Map" resultType="TbCashier">
        select * from tb_cashier where cashier_account = #{cashier_account} and cashier_pwd = #{cashier_pwd}
    </select>

    <!--    白名单查询-->
    <select id="whitelistQuery" parameterType="String" resultType="TbWhiteList">
        select * from tb_white_list where car_number = #{carNumber}
    </select>

    <!--    场内车辆信息查询-->
    <select id="carParkQuery" parameterType="String" resultType="TbParkCarInfo">
        select * from tb_park_car_info where car_number = #{carNumber} order by car_time asc limit 1;
    </select>

    <!--    月卡用户查询-->
    <select id="userQuery" parameterType="String" resultType="TbUser">
        select * from tb_user where car_number = #{carNumber}
    </select>

    <!--    收费规则查询-->
    <select id="chargePrice" resultType="TbChargerParameter">
        select * from tb_charger_parameter order by charge_time asc
    </select>

    <!--    收费规则修改-->
    <update id="modifyChargePrice" parameterType="TbChargerParameter">
        update tb_charger_parameter set charge_time = #{chargeTime} ,cp_type = #{cpType} ,stack_time = #{stackTime},price = #{price} where cp_id = #{cpId}
    </update>

    <!--    收费规则增加-->
    <insert id="addChargePrice" parameterType="TbChargerParameter">
        insert into tb_charger_parameter (charge_time,cp_type,stack_time, price) values (#{chargeTime},#{cpType} ,#{stackTime},#{price})
    </insert>

    <!--    收费规则删除-->
    <delete id="delChargePrice" parameterType="java.util.List">
        delete from tb_charger_parameter where cp_id in
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item.cpId}
        </foreach>
    </delete>

    <!--    白名单总数查询-->
    <select id="queryWhiteListCount" resultType="int">
        select count(*) from tb_white_list
    </select>

    <!--    白名单表查询-->
    <select id="queryWhiteList" resultType="TbWhiteList">
        select * from tb_white_list
    </select>

    <!--    白名单修改-->
    <update id="modifyWhiteList" parameterType="TbWhiteList">
            update tb_white_list set user_tel = #{userTel} ,car_number = #{carNumber} ,user_name = #{userName} where wl_id = #{wlId}
        </update>

    <!--    白名单添加-->
    <insert id="addWhiteList" parameterType="TbWhiteList">
        insert into tb_white_list (user_tel, car_number, user_name) values (#{userTel} ,#{carNumber} ,#{userName})
    </insert>

    <!--    白名单删除-->
    <delete id="delWhiteList" parameterType="java.util.List">
        delete from tb_white_list where wl_id in
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item.wlId}
        </foreach>
    </delete>

    <!--    场内车辆总数-->
    <select id="parkQueryCount" resultType="int">
        select count(*) from tb_park_car_info
    </select>
    <!--    场内所有车辆信息查询-->
    <select id="parkQuery" resultType="TbParkCarInfo">
        select * from tb_park_car_info order by car_time desc
    </select>

    <!--    出场车辆总数-->
    <select id="carExitQueryCount" resultType="int">
        select count(*) from tb_total_car_exit
    </select>

    <!--    出场车辆信息查询-->
    <select id="carExitQuery" resultType="TbTotalCarExit" parameterType="java.util.Map">
        select * from tb_total_car_exit order by entry_time desc limit #{page},#{limit}
    </select>

    <!--    最新进场信息查询-->
    <select id="gateMaxQuery" resultType="TbParkCarInfo">
        select * from tb_park_car_info order by car_time desc limit 1
    </select>

    <!--    查询自助缴费记录-->
    <select id="tbTemporaryCarRecordQuery" resultType="TbTemporaryCarRecord" parameterType="TbParkCarInfo">
        select * from tb_temporary_car_record where pci_id = #{pciId} and car_number = #{carNumber} and entry_time = #{carTime} and trade_status = 'TRADE_SUCCESS';
    </select>

    <!--    当前班次车辆出场记录-->
    <insert id="addTbCurrentCarExit" parameterType="java.util.Map">
        insert into tb_current_car_exit (car_number, car_identity, entry_time, exit_time, price, channel, park_space_id, cashier_id) values (#{carnumber},#{state},#{timej},#{timeC},#{collect},#{channel},#{parkSpaceId},#{cashierId});
    </insert>
    <!--    出场记录总表-->
    <insert id="addTbTotalCarExit" parameterType="java.util.Map">
        insert into tb_total_car_exit (car_number, car_identity, entry_time, exit_time, price, channel, park_space_id, cashier_id, entry_img_url, exit_img_url) values (#{carnumber},#{state},#{timej},#{timeC},#{collect},#{channel},#{parkSpaceId},#{cashierId},#{entryImgUrl},#{exitImgUrl});
    </insert>

    <!--    删除场内信息记录-->
    <delete id="delTbParkCarInfo" parameterType="java.util.Map">
        delete from tb_park_car_info where car_number = #{carnumber}
    </delete>

    <!--    当前班次车辆出场记录查询-->
    <select id="tbCurrentCarExitQuery" resultType="TbCurrentCarExit">
        select * from tb_current_car_exit
    </select>

    <!--    当前班次车辆出场记录清空-->
    <delete id="delTbCurrentCarExit">
        delete from tb_current_car_exit
    </delete>

    <!--    收费员登录时间记录-->
    <insert id="addTbCashierShifts" parameterType="TbCashierShifts">
        insert into tb_cashier_shifts (cs_time, cashier_id) VALUES (#{csTime},#{cashierId});
    </insert>

    <!--    收费员查询首次登录时间-->
    <select id="tbCashierShiftsQuery" resultType="TbCashierShifts">
        select * from tb_cashier_shifts order by cs_time desc
    </select>

    <!--    日结单查看-->
    <select id="settlementQuery" resultType="TbTotalCarExit" parameterType="java.util.Map">
        select * from tb_total_car_exit
        <where>
            <if test="aname != null and aname != '' ">
                and channel = #{aname}
            </if>
            and exit_time between #{timeQ} and #{timeH}
        </where>
        order by exit_time desc
    </select>

    <!--    收费员查询-->
    <select id="tbCashierQuery" resultType="TbCashier">
        select * from tb_cashier
    </select>

    <!--    管理员查询-->
    <select id="tbAdminQuery" resultType="TbAdmin">
        select * from tb_admin
    </select>

</mapper>